html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
}

.top-bar {
    background:#F6F1F1;
    height:30px;
}

header {
    width:100%;
}

header img {
    display:block;
    max-width: 50%;
    margin:2px auto 4px auto;
}

nav{
    text-align:center;
    margin: 0px;
    padding:20px 0;
    background-color:#C8DDE1;
    width: 100%;
}

.nav-links {
    max-width: 80%;
    margin: 0 auto;
}

nav a{
    text-align:center;
    font-size: 16px;
    color:black;
    display:inline-block;
    margin:0 0 0 100px;
    text-decoration:none;
}

.homepage-cinnamon,
.homepage-cinnamon-details{
    width:50%;
}

.homepage-cinnamon-details {
    position: relative;
    background-color:#F6F1F1;
}

.homepage-cinnamon-details .details-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:60%;
}

.homepage-cinnamon img{
    width:100%;
}

.email-signup{
    background-color:#667080;
    padding:15px 100px 15px 100px;
    color:#FFFFFF;
}

.signup-text {
    width:50%;
}

.signup-form{
    width:30%;
}

.signup-button{
    width:20%;
}

.signup-form input {
    width:200px;
    height:40px;
}


.footer {
    padding:30px 100px 30px 100px;
    background-color:#FFFFFF;
    color:#667080;
}

.company-footer{
    width:25%;
}

.about-footer{
    width:25%;
}

.help-footer{
    width:25%;
}

.connect-footer{
    width:25%
}

ul {
    list-style-type:none;
    margin:none;
    padding:none;
}

.footer ul {
    list-style-position: inside;
    padding-left:0;
}

.copyright-company-name {
    font-size: 12px;
}

.sidenav {
    padding: 8px 0;
    margin-right: 60px;
    width: 25%;
}

.sidenav ul li.list-header {
    font-weight: bold;
    padding: 0;
}

.sidenav ul li {
    padding-left: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}


#menu-main {
    display: flex;
    padding: 0 100px;
    max-width: 1280px;
}

.display {
    width:100%;
}

.display img {
    width: 100%;
}

#myProductList {
    width: 75%;
}


.items-list {
    display:flex;
    margin-top: 60px;
    width:100%;
}

.items-list .item {
    margin-right: 45px;
    width: 33.33%;
    text-align: center;
}

.items-list .item:last-child {
    margin-right: 0;
}

.items-list .item img {
    width: 100%;
}