html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
}

.top-bar {
    background:#F6F1F1;
    height:30px;
}

header {
    width:100%;
}

header img {
    display:block;
    max-width: 50%;
    margin:2px auto 4px auto;
}

nav{
    text-align:center;
    margin: 0px;
    padding:20px 0;
    background-color:#C8DDE1;
    width: 100%;
}

.nav-links {
    max-width: 80%;
    margin: 0 auto;
}

nav a{
    text-align:center;
    font-size: 16px;
    color:black;
    display:inline-block;
    margin:0 0 0 100px;
    text-decoration:none;
}

.homepage-cinnamon,
.homepage-cinnamon-details{
    width:50%;
}

.homepage-cinnamon-details {
    position: relative;
}

.homepage-cinnamon-details .details-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:60%;
}

.homepage-cinnamon img{
    width:100%;
}
