/*styling cards*/

.game-card{
  align-items:center;
  width:250px;
  height:280px;
  position:relative;
}

.game-card .card {
  border: none;
  cursor: pointer;
  position:relative;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.game-card .card.flipped {
  transform: rotateY(180deg);
}

.game-card .card .back-img{
  text-align: center;
}
.game-card .card .back-img img{

}

.game-card .card .back-content{
  text-align: center;
  margin-top:20px;
}

/*styling card flip when clicked*/

.game-card .card .card__face {
  border-radius: 25px;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  color:#fff;
  cursor:pointer;
  padding: 20px;
}

.game-card .card .card__face img {
  width: 50%;
}

.game-card .card .front{
  background:#58597E;
}

.game-card .card .back {
  background:green;
  transform:rotateY(180deg);
  justify-content: center;
}
