@import url("hover.css");
@import url("card.css");
/*styling containers*/

body {
  background-color:blue;
}

.container {
  height: 100%;
  position: relative;
}

.card-container {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 80%;
  margin-top:90px;
}

.hidden {
  visibility: hidden;
}

.game-buttons-container {
  padding: 15px;
  width: 100%;
  margin: 50px auto;
  position: relative;
  z-index: -1;
}

/*styling navigation bar*/

nav {
  text-align:center;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

nav #card-counter {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
p {
  text-align: center;
  color:white;
  font-size:18px;
  font-family:inherit;
}

#game-logo{
  padding:10px;
  width:40%;
  height:40%;
}

div .item-name {
  width:100%;

}

div .item-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:50%;
  max-height:50%;
}

/*styling panda save button*/

#game-save {
  padding:20px;
  max-width:35%;
  margin: 0 auto;
  background: url("../assets/panda-good.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 208px;
  -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  position: relative;
}

#game-save.panda-mouth-open {
  background: url("../assets/panda-mouthopen.png");
}

#game-save.panda-bad {
  background: url("../assets/panda-bad.png");
}

#game-save #panda-drop-target {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/*styling next button*/

.button {
  background-color:#4CAF50;
  border:none;
  color:white;
  padding:30px;
  text-align:center;
  text-decoration:none;
  margin:4px 2px;
}

.button1 {border-radius:50%}
